<div class="container" ng-init="init()">
    <div class="row">
        <h3>Drawboard</h3>
    </div>

    <div class="row drawboard-toolbar">
        <div><br/></div>
    </div>

    <div class="row drawboard-container">
        <div class="col-md-2">
            <ul ng-repeat="tool in drawingTools | orderBy: ['displayOrder'] track by tool.name" style="list-style:none;">
                <li>
                    <label><input name="drawingTool" type="radio" ng-model="currentTool" ng-change="onToolSelected(tool.name)" />&nbsp;{{tool.title}}</label>
                </li>
            </ul>
        </div>

        <div class="col-md-10">
            <canvas id="canvas" 
                    width="500"
                    height="500"
                    class="drawboard-canvas">
            </canvas>

            <canvas id="tempCanvas"
                    class="temp-canvas"
                    width="500"
                    height="500"
                    ng-mousedown="mouseHandler($event)"
                    ng-mouseup="mouseHandler($event)"
                    ng-mousemove="mouseHandler($event)">
            </canvas>
        </div>
    </div>
</div>

<style>
    .drawboard-panel {
    }

    .drawboard-toolbar {
        background-color:navy;
    }

    .drawboard-container {
        background-color:lightgray;
    }

    .drawboard-canvas {
        background-color:white;
        border: 1px solid #000; 
    }

    .temp-canvas {
        position: absolute;
        top: 1px;
        left: 1px;
    }
</style>